.header,
.marketing,
.footer {
	padding-left: 15px;
	padding-right: 15px;
}
.header { border-bottom: 1px solid #e5e5e5; }
.header h3 {
	line-height: 40px;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 19px;
}
.footer { border-top: 1px solid #e5e5e5; color: #777; padding-top: 19px; }
.container-narrow > hr { margin: 30px 0; }
.jumbotron { text-align: center; border-bottom: 1px solid #e5e5e5; }
.jumbotron .btn { font-size: 21px; padding: 14px 24px; }
.marketing { margin: 40px 0; }
.marketing p + h4 { margin-top: 28px; }
.nav>li.active > a { background-color: #eee; text-decoration: none; }
[ng-click] { cursor: pointer; }
.btn-file { overflow: hidden; position: relative; }
.btn-file input[type=file] {
	background: white;
	cursor: inherit;
	display: block;
	filter: alpha(opacity=0);
	font-size: 100px;
	min-height: 100%;
	min-width: 100%;
	opacity: 0;
	outline: none;
	position: absolute;
	right: 0;
	text-align: right;
	top: 0;
}
.ta-editor {
	font-family: inherit;
	font-size: 100%;
	height: auto;
	min-height: 300px;
	overflow: auto;
}
.lease-process { margin: 20px 0; }
.lease-process .fa { font-size: 40px; }
/* We use font-awesome instead of glyphicon, but ui-bootstrap uses glyphicons. This is the workaround */
.glyphicon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
.glyphicon-ok:before { content: "\f00c"; }
.glyphicon-remove:before { content: "\f00d"; }
.glyphicon-chevron-left:before { content: "\f053"; }
.glyphicon-chevron-right:before { content: "\f054"; }
@media screen and (min-width: 768px) {
	.header,
  .marketing,
  .footer {
		padding-left: 0;
		padding-right: 0;
	}
	.header { margin-bottom: 30px; }
	.jumbotron { border-bottom: 0; }
	.container { max-width: 970px; }
}
